{
  "extends": [
    "airbnb-base",
    "prettier"
  ],
  "parserOptions": {
    "sourceType": "script"
  },
  "env": {
    "mocha": true
  },
  "rules": {
    "max-len": ["error", 150, 4],
    "no-console": "off",
    "func-names": "off",
    "prefer-arrow-callback": "off"
  }
}